[user]
    name = jon890
    email = jon89071@gmail.com
[push]
    autoSetupRemote = true

[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:/Users/nhn/projects/"]
    path = ~/.gitconfig-work