[user]
    name = jon890
    email = jon89071@gmail.com
[push]
    autoSetupRemote = true

[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:/Users/nhn/projects/"]
    path = ~/.gitconfig-work
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[url "git@github-personal:"]
	insteadOf = git@github.com:
