# Zim configuration file
# See: https://github.com/zimfw/zimfw/wiki/Configuration

#
# Modules
#

zmodule environment
zmodule input
zmodule termtitle
zmodule utility
zmodule completion
zmodule syntax
zmodule history

zmodule duration-info

# Plugins
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
