# Zim configuration file
# See: https://github.com/zimfw/zimfw/wiki/Configuration

#
# Modules
#

zmodule environment
zmodule input
zmodule utility
zmodule completion

# Prompt 설정
zmodule prompt
zstyle ':zim:prompt' theme 'asciiship'
zstyle ':zim:prompt' git 'yes'

zmodule asciiship
zmodule duration-info

# Plugins
zmodule zsh-users/zsh-completions --fpath src
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
