# Zim configuration file
# See: https://github.com/zimfw/zimfw/wiki/Configuration

# 추가 플러그인
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
